body{
    font-family:Georgia, 'Times New Roman',Times,serif;
    background-color:whitesmoke;
}
h2{
    text-align:center;
   }
    form{
        height:500px;
        padding: 15px;
        margin-left: 350px;
        margin-right: 350px;
        border-radius: 5px;
        background-color:pink;
    }
    label{
        display:block;
        margin:1px;
        font-weight:bold;
    }
    select{
        width:70%;
        padding: 4px;
        border: 1px;
        border-radius:3px;
        margin-bottom:10px;
    }
    input[type="submit"]{
        color:blue;
        background-color:rgb(225,221,0)
        cursor:grab;
        margin-top: 7px;
        margin-left: 10px;
        }
        input[type="submit"]:hover{
            background-color:whitesmoke;
        }
        .main{
            width: 400px;
            margin:auto;
            height:auto;
        }
        input[type="text"]{
            width: 70%;
        }
        input[type="password"]{
            width:70%;
        }
        input[type="tel"]{
            width:70%;
        }
        textarea{
            width:70%;
            height:130px;
        }